################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BornTask1.slnx/FileContentIndex/99328a9e-2718-4ec6-977c-cadb13724fd2.vsidx
